@import "../../variables";

.btn-buy {
	background: $active-color;
	box-shadow: 0 2px 1px #d64d08;
	color: #fff;

	&:hover,
	&:focus {
		color: #fff;
		background-color: $active-hover-color;
		box-shadow: 0 2px 1px #d64d08, 0 1px 2px #f7661d;
	}
}

.ticket {
	transition: box-shadow .6s ease-in-out;

	&:hover {
		box-shadow: 0 5px 35px rgba(91, 137, 164, 0.25);
	}

	&__inner {
		margin: 0;
	}

	&__body {
		padding: 1.5rem 1.4rem;

		&_left {
			text-align: center;

			@media screen and (min-width: 768px) {
				border-right: 1px solid #eceff1;
			}

			@media screen and (max-width: 767px) {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding-top: .5rem;
			}
		}
		&_right {
			position: relative;
			@media screen and (max-width: 767px) {
				padding-bottom: .5rem;
			}
		}
	}

	&__btn-buy {
		font-size: .9rem;
		max-width: 11.625rem;
		padding: .3rem 1rem;

		@media screen and (min-width: 768px) {
			margin: 1.5rem auto 0;
			width: 100%;
		}
	}

	&__airline-logo {
		@media screen and (max-width: 459px) {
			max-width: 7rem;
		}
	}

	&__time {
		font-size: 1.5rem;
		line-height: 2rem;
		margin-bottom: .5rem;
		@media screen and (min-width: 460px) { font-size: 2rem; }
	}

	&__city {
		font-size: .75rem;
		margin-bottom: .1rem;
	}

	&__stops {
		position: absolute;
		font-size: .625rem;
		text-transform: uppercase;
		text-align: center;
		color: $secondary;
		white-space: nowrap;
		top: 1.9875rem;
		left: calc(50% - 4.375rem / 2);
		@media screen and (min-width: 460px) {
			top: 1.6875rem;
		}

		&::before {
			@media screen and (min-width: 460px) {
				content: '';
				position: absolute;
				height: 1px;
				background-color: #d2d5d6;
				top: 1.5625rem;
				left: -0.84375rem;
				width: 6rem;
			}

		}

		&::after {
			@media screen and (min-width: 460px) {
				content: '';
				position: absolute;
				background: url('./plane.svg') no-repeat;
				width: 13px;
				height: 14px;
				top: 1.1875rem;
				right: -1.25rem;
			}
		}
	}

	&__date {
		font-size: .75rem;
		color: $secondary;
	}

	&__details {
		flex: 0 0 8.125rem;
		&_arrival {
			text-align: right;
		}
	}
}
