@import "../../variables";

.currency__item {
	border: 1px solid $border-color;
	color: $primary-color;
	padding: 0;
	font-size: inherit;
	line-height: 2.5rem;
	cursor: pointer;

	&:not(.currency__item_active):hover {
		background-color: $primary-hover-color;
		border-color: $primary-color;
		color: $primary-color;
	}

	&_active {
		color: #fff;
		background-color: $primary-color;
		border-color: $primary-color;
		&:hover { color: #fff; }
	}
}
