@import "variables";
@import "~bootstrap/scss/bootstrap";

html {}

body {
	font: 16px 'Open Sans', sans-serif;
	background-color: #f3f7fa;
	color: #4a4a4a;
}

a, button {
	transition: all .3s ease-in-out;
}

label {
	margin: 0;
}

.card {
	border-color: transparent;
	box-shadow: 0 1px 10px 0 rgba(91, 137, 164, .25);
	margin-bottom: 1.2rem;
}

.header {
	padding: 3.125rem 0;
	text-align: center;
}

.main {
	max-width: 840px;
	margin: auto;
}

.sidebar {
	flex: 1 0 14.0625rem;

	&__card {
		padding: .4rem 0;
		font-size: .75rem;
	}

	&__subtitle {
		font-size: inherit;
		text-transform: uppercase;
	}
}

.select-currency {
	&__btn-group {
		width: 100%;
		height: 2.5rem;
	}

	&__btn {
		border: 1px solid $border-color;
		color: $primary-color;
		padding: 0;
		font-size: inherit;
		line-height: 2.5rem;

		&:not(.select-currency__btn_active):hover {
			background-color: $primary-hover-color;
			border-color: $primary-color;
			color: $primary-color;
		}

		&_active {
			color: #fff;
			background-color: $primary-color;
			border-color: $primary-color;
			&:hover { color: #fff; }
		}
	}
}

.filter {
	@extend .list-unstyled;
	margin: 0 -1.25rem;

	&__li {
		display: flex;
		padding: .45rem 1.25rem;
		transition: background-color .3s ease-in-out;

		&:hover {
			background-color: $primary-hover-color;

			.filter__btn-only { opacity: 1; }
		}
	}

	&__item {
		position: relative;
		flex: 1 1;
		cursor: pointer;
		user-select: none;
		padding-left: 1.875rem;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 1.1875rem;
			height: 1.1875rem;
			background-color: #fff;
			border: 1px solid $border-color;
			border-radius: $btn-border-radius;
		}

	}

	&__checkbox {
		position: absolute;
		clip: rect(0, 0, 0, 0);

		&:checked ~ .filter__item {
			&::after {
				background: url('./components/App/checkbox.svg') center no-repeat $primary-hover-color;
				border: 1px solid $primary-color;
			}
		}

	}

	&__btn-only {
		opacity: 0;
		font-size: .7rem;
		text-transform: uppercase;
		color: $primary-color;
		padding: 0;
		border: none;
		background-color: transparent;
		user-select: none;
	}
}

.btn-buy {
	background: $active-color;
	box-shadow: 0 2px 1px #d64d08;
	color: #fff;

	&:hover,
	&:focus {
		color: #fff;
		background-color: $active-hover-color;
		box-shadow: 0 2px 1px #d64d08, 0 1px 2px #f7661d;
	}
}

.ticket-list {
	flex: 1 0 35.375rem;
}

.ticket {
	transition: box-shadow .3s ease-in-out;

	&:hover {
		box-shadow: 0 10px 45px rgba(91, 137, 164, 0.35);
	}

	&__inner {
		margin: 0;
	}

	&__body {
		padding: 1.5rem 1.4rem;
		&_left {
			text-align: center;
			border-right: 1px solid #eceff1;
		}
		&_right {
			position: relative;
		}
	}

	&__btn-buy {
		font-size: .9rem;
		width: 100%;
		margin-top: 1.5rem;
		padding: .3rem 1rem;
	}

	&__time {
		font-size: 2rem;
		line-height: 2rem;
		margin-bottom: .5rem;
	}

	&__city {
		font-size: .75rem;
		margin-bottom: .1rem;
	}

	&__stops {
		position: absolute;
		font-size: .625rem;
		text-transform: uppercase;
		text-align: center;
		color: $secondary;
		white-space: nowrap;
		top: 1.6875rem;
		left: calc(50% - 4.375rem / 2);

		&::before {
			content: '';
			position: absolute;
			height: 1px;
			width: 6rem;
			background-color: #d2d5d6;
			top: 1.5625rem;
			left: -0.84375rem;
		}

		&::after {
			content: '';
			position: absolute;
			background: url('./components/App/plane.svg') no-repeat;
			width: 13px;
			height: 14px;
			top: 1.1875rem;
			right: -1.25rem;
		}
	}

	&__date {
		font-size: .75rem;
		color: $secondary;
	}

	&__details {
		flex: 0 0 8.125rem;
		&_arrival {
			text-align: right;
		}
	}
}


